@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.backInner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backInner > img{
  height: 99%;
  object-fit: cover;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: .5;
}

.AppInner{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(30,50,74);
  background: linear-gradient(148deg, rgb(19, 31, 46) 0%, rgb(2, 4, 5) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportInner{
  position: relative;
  width: 500px;
  height: 616px;
  background: rgb(96,22,22);
  background: linear-gradient(144deg, rgba(96,22,22,1) 0%, rgba(166,164,43,1) 24%, rgba(62,107,47,1) 49%, rgba(28,50,103,1) 78%, rgba(58,27,111,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 11px;
  box-shadow: rgb(2, 0, 31) 0px 7px 29px 0px;
  padding: 20px 0px 30px 0px;
  transition: .5s ease;
}

.formInner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.optionsInner{
  position: absolute;
  color: #bcd1c4;
  font-size: 1.2em;
  width: 92%;
  display: flex;
  justify-content: space-between;
  top: 20px;
}

.optionsInner > i{
  cursor: pointer;
  transition: .2s ease;
}

.optionsInner > i:hover{
  color: #aabeb1;
  transform: scale(1.1);
}

.imgInner{
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.imgInner > img{
  height: 100%;
}

.reportArea{
  width: 85%;
  height: 260px;
  border-radius: 11px;
  background-color: #c5e2bc;
  padding: 10px;
  resize: none;
  font-size: .9em;
  color: #4B813A;
  border: none;
}

.reportName{
  width: 85%;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 33px;
  background-color: #c5e2bc;
  color: #4B813A;
  font-size: .9em;
}

.nameInner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.iconInner{
  position: absolute;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconInner > i{
  position: absolute;
  color: #2f661e;
  left: 12px;
}

.reportArea:focus{
  border: none;
  outline: 1px solid #4B813A;
}

.reportName:focus{
  border: none;
  outline: 1px solid #4B813A;
}

.reportSend{
  width: 85%;
  height: 50px;
  border-radius: 11px;
  border: none;
  background-color: #4daa30;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: .2s ease;
}

.reportTheme{
  color: white;
  font-weight: 800;
  font-size: 1.6em;
  margin: 20px 0 0px 0;
}

.reportArea::-webkit-scrollbar {
  width: 15px;
}
.reportArea::-webkit-scrollbar-track {
  background: transparent;
}

.reportArea::-webkit-scrollbar-thumb {
  background-color: #4B813A;
  border-radius: 17px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.reportSend:hover{
  background-color: #2f661e;
  color: #bcd1c4;
}

.reportSend:disabled{
  background-color: gray;
  color: rgb(196, 196, 196);
}


@media only screen and (max-width: 700px){
  .reportInner{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .reportTheme{
    font-size: 1.3em;
    margin: 20px 0 15px 0;
  }

  .formInner{
    justify-content: center;
  }

  .reportArea{
    margin: 10px;
    font-size: .8em;
  }

  .reportName{
    font-size: .8em;
  }

  .reportSend{
    font-size: 1em;
  }
}